.project_container {
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, #ffffff 50%,  #3498db 50%);
}

.project_left_content {
    vertical-align: top;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    margin: 0;
    display: inline-block;
}

.project_right_content {
    vertical-align: top;
    overflow-y: scroll;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    margin: 0;
    display: inline-block;
}

.project_title {
  text-align: center;
  vertical-align: middle;
  padding-top: 40%;
  margin: auto;
  color: #3498db;
  font-size: 7vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.project_content_container{
  padding-left: 1%;
  vertical-align: middle;
  margin: auto;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.project_content .project_content_title{
  font-size: 2vw;
}

.project_content .project_content_company{
  font-size: 1.5vw;
}

.project_content .project_content_desc{
  font-size: 1vw;
}

hr{
  width: 80%;
}